@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Jost&display=swap');


h1, h2, h3, h4, h5, h6 {
	font-family: 'Dela Gothic One', cursive;
	/*font-size: 45px;*/	
}


body {
	font-family: 'Jost', sans-serif;
	font-size: 16px;
	max-height: 100vh;
	background-color: #fefefe;
	/*color: white;
	background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;*/
}
/*
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
*/
/*index page*/
#landingPage {
	height: 100vh;
	margin-bottom: 10px;
	padding-bottom: 10px;
	/*height: 700px;*/
	background-image: url("./img/beconcept.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	justify-content: center;
}

/*rooms and menu card - index page*/

.menu-card {
    max-width: 800px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.menu-card img {
    transition: all linear 0.25s;
    height: 546.2px;
    width: 819.2px;
    object-fit: cover;
}

.menu-card .menu-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.menu-card .menu-desc{
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}


.menu-card:hover img {
    filter: grayscale(100%);
}

.menu-card:hover .menu-name {
    bottom: 80px;
}

.menu-card:hover .menu-desc {
    bottom: 60px;
}

/*contact form contact page*/
.contact-form{
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}

.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    /*color: #0062cc;*/
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/*menu food page*/
#menu-banner {
    /*background-image: url("./img/kfoodbanner.jpg");
    background-color: #bfbfbf;
    height: 50vh;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    */
}

#menulist {
    background-color: rgba(230, 230, 230,0.4);
}

#menupage1 {
    background-image: url("./img/kfoodbanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#menupage2 {
    background-image: url("./img/koreanunsplash3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#menupage3 {
    background-image: url("./img/koreanunsplash2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*room page*/
/*room page rapline portion*/
#rapline {
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}

#raplinetext {
    color: gray;
    font-style: italic;
} 

#rapline > img {
    height: 30vh;
}

#rapline > img:hover {
    filter: grayscale(100%);
}

#btsModalImg {
    width: 100%;
    max-width: 700px;
    height: auto;
}


ul {
	list-style-type: none;
	padding: 0; 
	margin: 0; 
}